.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;


}

.container {
  background-color: rgba(63, 59, 59, 0.705);
  padding: 2em 4em 2em 4em;

}

.filter-container {
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
}
